.weather-dropdown {
  position: absolute;
  width: 340px;
  height: 340px;
  
  padding: 20px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  top: 20%;
  left: 40%;
  z-index: 5;

  .row{
    display: block;

  }
  .button {
    font-size:12px;
    margin: 5px 0px !important;
    height: 30px;
    width: auto;
     text-align: center;
    
  }
  h2{
    height: 10%;
    text-align: center;
     text-align: center;
  }
}
