.container-0-2-1 {
    font-size: 13px;
    width: 49%;
    border-radius: 0px 0px 5px 5px;
    height: fit-content;
    background-color: #18cbf3a1 !important;
    border-radius: 10px!important;
}

.main-0-2-2 {
    width: 98% !important;
    height: 100%;
    display: flex;
    border-radius: 5px !important;

}

.logo-container{
    cursor: pointer;
    width: 100px ;
    height: 100px;
}

.container-d18-0-2-157 {
   
    
    
}